<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
        <parameter name="browser" value="edge"></parameter>
    <test verbose="2"
                                                                                             preserve-order="true"
                                                                                             name="C:/Users/Salah-NassarD/IdeaProjects/SeleniumFramework"><classes><class name="Tests.UserRegisterationTest"><methods><include name="UserCanRegisterSucssesfully"/></methods></class></classes></test></suite>